<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container" id="app">
        <nav class="navbar navbar-light">
            <div class="navbar-text ml-auto">
                <b>cart:</b>
                <span class="badge bg-success">{{ cart.length }}</span>
            </div>
        </nav>
        <br>
        <h1>My Shop</h1>
        <div class="align-items-center" :class="sliderState">
            <label for="" :class="style.label">Max</label>
            <input type="number" class="form-control mx-2" :style="{'width': '60px','text-align':'center'}" v-model="maximum">
            <input type="range" class="custom-range" min="0" max="200" v-model="maximum">
        </div>
        <div class="row d-flex mb-3 align-items-center" v-for="item in products" v-if="item.price <= Number(maximum)">
            <div class="col-1 m-auto">
                <button class="btn btn-info" v-on:click="addItem(item)">+</button>
            </div>
            <div class="col-sm-4">
                <img :src="item.image" :alt="item.name" class="img-fluid d-block">
            </div>
            <div class="col">
                <h3 class="text-info">{{ item.name }}</h3>
                <p class="mb-0">{{ item.description }}</p>
                <div class="h5 float-right">Rp{{ item.price }}</div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="js/vue.js"></script>
</body>
</html>
